# Dependencies
node_modules/

# Build outputs
dist/
build/

# Environment variables
.env
.env.local

# IDE configurations
.vscode/
.idea/
*.swp
*.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*